<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <add name="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
    <add name="dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
    <add name="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
    <add name="connection.connection_string" value="Data Source=(local)\sqlexpress; Initial Catalog=ToDoDb;Trusted_Connection=true;"/>
    <add name="connection.connection_string" value="ToDoConnectionString"/>
    <add name="show_sql" value="true"/>
    <mapping assembly="ToDoList.Mappings"/>
    <!--<mapping resource="Mappings\Category.hbm.xml"/>
    <mapping resource="Mappings\Item.hbm.xml"/>
    <mapping resource="Mappings\Note.hbm.xml"/>-->
  </session-factory>
</hibernate-configuration>